<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Blog Site</title>
</head>
<body>

  

<br/>
<br/>



<h1>Blogging Website</h1>
    <div class="container-fluid">

        <% if(msg.length >0){%>

            <div class="alert alert-success">
            <%=msg %>
              </div>
            <%}%>
            <div class="row">


                <% blogs.forEach(function(item){ %>  
    <div class="col-sm-4 col-md-4 col-12">
        <div class="card mb-3">
            <div class="card-header"><%=item.title%></div>
            <div class="card-body"><%=item.description%></div>
            <div class="card-footer"><%= item.author%> 
            
            <br/> <br/>
        
            <form action="/edit/<%=item._id %>" >
        <button class="btn btn-secondary" type="submit" > Edit</button>
        </form>
<br>
        <form action="/delete/<%=item._id %>" method="get" >
            <button class="btn btn-danger" type="submit" > delete</button>
            </form>
        
        </div>
          </div>
    </div>

    <% })%>
</div>


    </div>
    
</body>
</html>